<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Mark-UI : Avatar</title>
</head>

<body>
    <div class="container">
        <nav>
            <div class="left-navhead">
                <a href="/index.html">Mark</a>
                <span class="small-text">v1.1</span>
            </div>
            <ul class="right-navhead">
                <li><a class="active" href="#">Docs</a></li>
            </ul>
        </nav>

        <div class="intro-container">
            <div class="side-menu">
                <!-- Get Started List Start -->
                <div>
                    <div class="list-topic">
                        <a href="/Get Started/introduction.html">
                            Get Started
                        </a>
                    </div>
                    <ul class="list-subtopic">
                        <li>
                            <a class="active" href="/components/intro.html">
                                Introduction
                            </a>
                        </li>
                        <!-- <li>
                            <a href="/Get Started/Typography.html">
                                Typography
                            </a>
                        </li> -->
                    </ul>
                </div>
                <!-- Components List start -->
                <div>
                    <div class="list-topic">
                        <a href="/components/Alert/alert.html">Components</a>
                    </div>
                    <ul class="list-subtopic">
                        <li>
                            <a href="/components/Alert/alert.html">
                                Alert
                            </a>
                        </li>
                        <li>
                            <a href="/components/Avatar/avatar.html">
                                Avatar
                            </a>
                        </li>
                        <li>
                            <a href="/components/Badge/badge.html">
                                Badge
                            </a>
                        </li>
                        <li>
                            <a href="/components/Button/button.html">
                                Button
                            </a>
                        </li>
                        <li>
                            <a href="/components/Card/card.html">
                                Card
                            </a>
                        </li>
                        <li>
                            <a href="/components/Image/image.html">
                                Image
                            </a>
                        </li>
                        <li>
                            <a href="/components/Input/input.html">
                                Input
                            </a>
                        </li>
                        <li>
                            <a href="/components/list/list.html">
                                List
                            </a>
                        </li>
                        <li>
                            <a  href="/components/Modal/modal.html">
                                Modal
                            </a>
                        </li>
                        <li>
                            <a href="/components/Toast/toast.html">
                                Toast
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="doc-content">
                <div class="content-title">
                    Responsive Image
                </div>
                <div class="content-subtitle">
                    Images in Mark-UI are made responsive with .img-fluid. max-width: 100%; and height: auto; are applied to the image so that it scales with the parent element.


                </div>

                <div class="divider"></div>

                  <!-- Square Image -->
                <div class="content-head">
                    Square Image
                </div>

                <div class="content-subtitle">
                    Square Images are the square shaped, with a default dimension of 150px X 150px. 
                </div>

                <div class="example-div">
                    <img src="https://cdn.pixabay.com/photo/2017/06/21/20/51/tshirt-2428521_960_720.jpg" alt="Image-1" class="sq-img"/>

                    <img src="https://cdn.pixabay.com/photo/2017/11/02/14/26/model-2911329_960_720.jpg" alt="Image-2" class="sq-img"/>
                </div>
                <div class="example-code">
                    <pre>
                        <code class="htmlcode">
                            <-- Using 'sq-img' as class name -->
                            
                            &lt;img src="url-of-the-image" alt="image" class="sq-img"/>
                                    </code>
                        </pre>
                </div>

                <div class="divider"></div>

                 <!-- Round Image -->
                <div class="content-head">
                    Round Image
                </div>

                <div class="content-subtitle">
                    Round Images are the circular, with a default dimension of 120px X 120px. 
                </div>

                <div class="example-div">
                    <img src="https://cdn.pixabay.com/photo/2017/04/07/16/47/interview-2211354_960_720.jpg" alt="Image-1" class="round-img"/>

                    <img src="https://cdn.pixabay.com/photo/2017/06/21/20/51/tshirt-2428521_960_720.jpg" alt="Image-2"  class="round-img"/>

                </div>

                <div class="example-code">
                    <pre>
                        <code class="htmlcode">
                            <-- Using 'round-img' as class name -->
                            
                            &lt;img src="url-of-the-image" alt="image" class="round-img"/>
                                    </code</pre>
                </div>

                <div class="divider"></div>

                 <!-- Full width Image -->
                <div class="content-head">
                    Full width Image
                </div>

                <div class="content-subtitle">
                    Full Width Image is the one that expands to cover the container it is present in.<br />
                </div>

                <div class="example-div">
                    <img src="https://cdn.pixabay.com/photo/2015/06/19/21/24/avenue-815297_960_720.jpg" alt="Image" class="resp-img"/>

                </div>

                <div class="example-code">
                    <pre>
                        <code class="htmlcode">
                            <-- Using 'resp-img' inside a parent container -->
            
                            &lt;div>
                                &lt;img src="url-of-the-image" alt="responsive-image" class="rsp-img"/>
                            &lt;/div>
                                    </code>
                        </pre>
                </div>

                <div class="divider"></div>

                <footer>
                    <div class="prev-comp">

                        <a href="/components/Card/card.html">Card</a>
                    </div>
                    <div class="next-comp">
                        <a href="/components/Input/input.html">Input</a>
                    </div>
                </footer>
            </div>

        </div>
    

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
</body>

</html>