@import url('/components/intro.css');
@import url('/components/Alert/alert.css');
@import url('/components/Avatar/avatar.css');
@import url('/components/Badge/badge.css');
@import url('/components/Button/button.css');
@import url('/components/Image/image.css');
@import url('/components/Input/input.css');
* {
    /*font-size: 62.5%; /* 100/16*100 */
    margin: 0;
    padding: 0;

}

:root {
    --primary-color: #563d7c;
    --secondary-color: #4c4c4e;
    --white: #fff;
    --grey: #6c757d;
    --btn-primary: #007bff;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #ffc107;

    --primary-hover: #6f42c1;
    --secondary-hover: #6c757d;
    --danger-hover: #eb041b;
    --success-hover: #45db45;
    --warning-hover: #cea119;

}

main {
    max-width: 700px;
    margin: auto;
    padding: 60px 0px 0px 0px;
    text-align: center;
}

main .heading {
    color: #202020;
    font-size: 2.5rem;
    font-weight: 900;
    margin: auto;
    text-align: center;
    width: 80%;
}

main .description {
    font-size: 1.4rem;
    line-height: 2.5rem;
    margin: auto;
    padding: 1rem 0 2rem;
    text-align: center;
    width: 90%;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 300px;
}

.btn {
    border-radius: 5px;
    box-shadow: 3px 1px 11px 9px rgb(129 124 124 / 16%);
    color: var(--white);
    min-width: 100px;
    padding: 1rem;
}

a {
    text-decoration: none;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--white);
}

.btn-primary:hover {
    background-color: var(--primary-hover)
}

.btn-secondary {
    color: var(--grey);
    border: 1px solid var(--grey);
}

.btn-secondary:hover {
    background-color: var(--secondary-hover);
    color: var(--white);
}


/* CSS for Nav bar*/

.container {
    width: 80%;
    /* min-height: 100vh;
    height: max-content; */
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 1rem;
}

.left-navhead {
    font-size: 1.2rem;
    font-weight: 900;
}

.left-navhead a {
    color: black;
    text-decoration: none;
}

.left-navhead a:hover {
    color: rgb(150, 137, 137);
}

.version-text {
    color: rgb(63, 61, 61);
    font-size: 1rem;
    font-weight: 500;
}

.right-navhead li {
    list-style: none;
    margin: 0 1rem;
}

.right-navhead a {
    color: black;
    cursor: pointer;
    font-weight: 800;
    font-size: 1rem;
    text-decoration: none;
    /* transition: all .3s ease; */
}

.right-navhead a:hover {
    color: rgb(117, 114, 114);
}