/* Contained Button */
.btn{
    font-weight: 600;
    background: var(--primary-color);
    color: var(--white);
    min-width: 100px;
    width: max-content;
    padding: .8rem 1rem;
    border-radius: 1px;
    border: none;
    cursor: pointer;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    transition: all .3s ease-in-out;
    margin: 10px;
}

.btn-primary{
    background-color : var(--primary-color);
    color : var(--white);
}

.btn-primary:hover{
    background-color: var(--primary-hover);
}

.btn-secondary{
    background-color: var(--secondary-color);
    color :var(--white);
}

.btn-secondary:hover{
    background-color: var(--secondary-hover);
}

.btn-error{
    background-color: var(--danger);
}

.btn-error:hover{
    background-color: var(--danger-hover);
}

.btn-success{
    background-color: var(--success);
}

.btn-success:hover{
    background-color: var(--success-hover);
}

.btn-link{
    background-color: var(--btn-primary);
    color: var(--white);
}

.btn-icon:hover,.btn-link:hover{
    background-color: var(--primary-hover);
}

.btn-icon{
    background-color: var(--btn-primary);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-float{
font-size: x-large;
}

.btn-float:hover{
    font-size: xx-large;
}

.btn-round{
    border-radius: 50%;
    border: none;
}