<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Mark-UI : Avatar</title>
</head>

<body>
    <div class="container">
        <nav>
            <div class="left-navhead">
                <a href="/index.html">Mark</a>
                <span class="small-text">v1.1</span>
            </div>
            <ul class="right-navhead">
                <li><a class="active" href="#">Docs</a></li>
            </ul>
        </nav>

        <div class="intro-container">
            <div class="side-menu">
                <!-- Get Started List Start -->
                <div>
                    <div class="list-topic">
                        <a href="/Get Started/introduction.html">
                            Get Started
                        </a>
                    </div>
                    <ul class="list-subtopic">
                        <li>
                            <a class="active" href="/components/intro.html">
                                Introduction
                            </a>
                        </li>
                        <!-- <li>
                            <a href="/Get Started/Typography.html">
                                Typography
                            </a>
                        </li> -->
                    </ul>
                </div>
                <!-- Components List start -->
                <div>
                    <div class="list-topic">
                        <a href="/components/Alert/alert.html">Components</a>
                    </div>
                    <ul class="list-subtopic">
                        <li>
                            <a href="/components/Alert/alert.html">
                                Alert
                            </a>
                        </li>
                        <li>
                            <a href="/components/Avatar/avatar.html">
                                Avatar
                            </a>
                        </li>
                        <li>
                            <a href="/components/Badge/badge.html">
                                Badge
                            </a>
                        </li>
                        <li>
                            <a href="/components/Button/button.html">
                                Button
                            </a>
                        </li>
                        <li>
                            <a href="/components/Card/card.html">
                                Card
                            </a>
                        </li>
                        <li>
                            <a href="/components/Image/image.html">
                                Image
                            </a>
                        </li>
                        <li>
                            <a href="/components/Input/input.html">
                                Input
                            </a>
                        </li>
                        <li>
                            <a href="/components/list/list.html">
                                List
                            </a>
                        </li>
                        <li>
                            <a  href="/components/Modal/modal.html">
                                Modal
                            </a>
                        </li>
                        <li>
                            <a href="/components/Toast/toast.html">
                                Toast
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="doc-content">
                <div class="content-title">
                    Avatar
                </div>
                <div class="content-subtitle">
                    Avatars are a custom component, and are typically used to display a user profile as a picture, an
                    icon, or short text.
                </div>

                <div class="divider"></div>

                <!-- Profile Image Avatar -->
                <div class="content-head">
                    Profile Image Avatar
                </div>

                <div class="content-subtitle">
                    Profile Avatars can be created using the class 'avatar', inside the <code>img</code> tag.
                </div>

                <div class="example-div">
                    <img class="avatar" src="/images/character-four.jpg" alt="avatar-1">

                    <img class="avatar" src="/images/character-five.jpg" alt="avatar-2">

                    <img class="avatar" src="/images/character-three.jpg" alt="avatar-3">
                </div>

                <div class="example-code">
                    <pre>
                        <code class="htmlcode">
                    <-- Using the 'avatar' class name -->

                    &lt;img class="avatar" src="/folder-name/path-of-image" alt="avatar-1"&gt;
                    &lt;img class="avatar" src="/images/character-one.jpg"&gt;
                        </code></pre>
                </div>

                <div class="divider"></div>

                <!-- Avatar Sizes -->
                <div class="content-head">
                    Avatar Sizes
                </div>

                <div class="content-subtitle">
                    <p>Size of the avatars can be changed by adding <code>sm | md | lg</code> class to the existing
                        avatar class.</p>
                </div>

                <div class="example-div">
                    <img class="avatar sm" src="/images/character-four.jpg" alt="avatar-1">

                    <img class="avatar md" src="/images/character-five.jpg" alt="avatar-2">

                    <img class="avatar lg" src="/images/character-three.jpg" alt="avatar-3">
                </div>

                <div class="example-code">
                    <pre>
                        <code class="htmlcode">
                    <-- sm | md | lg class names -->

                    &lt;img class="avatar sm" src="/folder-name/path-of-image" alt="avatar-1"&gt;
                    &lt;img class="avatar md" src="/images/character-one.jpg" alt="avatar-2"&gt;
                    &lt;img class="avatar lg" src="/images/character-two.jpg" alt="avatar-3"&gt;
                        </code></pre>
                </div>

                <div class="divider"></div>

                <!-- Square Avatar -->
                <div class="content-head">
                    Square Avatar
                </div>

                <div class="content-subtitle">
                    Adding a class 'square' to existing class, will generate a square shaped avatar.<br />
                </div>

                <div class="example-div">
                    <img class="avatar square sm" src="/images/character-one.jpg" alt="avatar-1">

                    <img class="avatar square md" src="/images/character-four.jpg" alt="avatar-2">

                    <img class="avatar square lg" src="/images/character-six.jpg" alt="avatar-illustration">
                </div>

                <div class="example-code">
                    <pre>
                        <code class="htmlcode">
                    <-- Using the square class -->

                    &lt;img class="avatar square sm" src="https://url-of-the-image" alt="avatar-1"&gt;
                    &lt;img class="avatar square md" src="https://url-of-the-image" alt="avatar-2"&gt;
                    &lt;img class="avatar square lg" src="https://url-of-the-image" alt="avatar-3"&gt;
                        </code></pre>
                </div>

                <div class="divider"></div>

                <footer>
                    <div class="prev-comp">

                        <a href="/components/Alert/alert.html">Alert</a>
                    </div>
                    <div class="next-comp">
                        <a href="/components/Badge/badge.html">Badge</a>
                    </div>
                </footer>
            </div>

        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
</body>

</html>