
.badge{
    position: relative;
    width: max-content;
}

.badge > div{
    bottom: 5px;
    right: 10px;
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: red
}

.badge .online{
    background-color: goldenrod;
}

.badge .offline{
    background-color: hotpink;
}

.badge .dnd{
    background-color: greenyellow;
}

.badge .number{
    display: flex;
    justify-content: center;
    align-items: center;
    top : 0px;
    right: 8px;
    position: absolute;
    font-size: .5rem;
    color: white;
    font-weight: 900;
    height: 18px;
    width: 18px;
    border: none;
}

.badge-img{
    width: 45px;
    height: 45px;
}