
.alert{
    width: 60%;
    color:white;
    border-radius: 4px;
    background-color: var(--danger);
    padding: 1rem 1.5rem;
    opacity: .9;
    margin: .5rem 0;
    font-size: .8rem;
}

.primary{
    background-color: var(--btn-primary);
}

.error{
    background-color: var(--danger-hover);
}

.success{
    background-color: var(--success);
}

.warning{
    background-color: var(--warning-hover);
}